<block name="footer">
	<script type="text/javascript" src="__JS__/cart_common.js"></script>
	 <script type="text/javascript" src="__JS__/jquery.yomi.js"></script>
 
 <script type="text/javascript" src="__JS__/cart_quick_links.js"></script>
 <script type="text/javascript" src="__JS__/common_new.js"></script>
    <script type="text/javascript" src="__JS__/compare.js"></script>
    <script type="text/javascript" src="__JS__/parabola.js"></script>
    <script type="text/javascript" src="__JS__/shopping_flow.js"></script>
    <script type="text/javascript" src="__JS__/jd_choose.js"></script>
    
 
    <script type="text/javascript" src="__JS__/asyLoadfloor.js"></script>
    <script type="text/javascript" src="__JS__/jquery.purebox.js"></script>
    
    
    	
    
    
    
    
<div class="footer">
    <div class="dsc-service">
        <div <if condition="$is_shopindex">class="w w1200 relative"<else/>class="w w1390 relative"</if>>
            <ul class="service-list">
                <li>
                    <div class="service-tit service-zheng"><i class="iconfont icon-zheng"></i></div>
                    <div class="service-txt">正品保障</div>
                </li>
                <li>
                    <div class="service-tit service-qi"><i class="iconfont icon-qi"></i></div>
                    <div class="service-txt">七天包退</div>
                </li>
                <li>
                    <div class="service-tit service-hao"><i class="iconfont icon-grin"></i></div>
                    <div class="service-txt">好评如潮</div>
                </li>
                <li>
                    <div class="service-tit service-shan"><i class="iconfont icon-light"></i></div>
                    <div class="service-txt">闪电发货</div>
                </li>
                <li class="last">
                    <div class="service-tit service-quan"><i class="iconfont icon-trophy"></i></div>
                    <div class="service-txt">权威荣誉</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dsc-help">
        <div <if condition="$is_shopindex">class="w w1200"<else/>class="w w1390"</if>>
            <div class="help-list">
                 <div class="help-item">
                    <h3>新手上路 </h3>
                    <ul>
                        <li><a href="article.php?id=9"  title="售后流程" target="_blank">售后流程</a></li>
                        <li><a href="article.php?id=10"  title="购物流程" target="_blank">购物流程</a></li>
                        <li><a href="article.php?id=11"  title="订购方式" target="_blank">订购方式</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>配送与支付 </h3>
                    <ul>
	                    <li><a href="article.php?id=15"  title="货到付款区域" target="_blank">货到付款区域</a></li>
                        <li><a href="article.php?id=16"  title="配送支付智能查询 " target="_blank">配送支付智能查询</a></li>
                        <li><a href="article.php?id=17"  title="支付方式说明" target="_blank">支付方式说明</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>会员中心</h3>
                    <ul>
                        <li><a href="article.php?id=18"  title="资金管理" target="_blank">资金管理</a></li>
                        <li><a href="article.php?id=19"  title="我的收藏" target="_blank">我的收藏</a></li>
                        <li><a href="article.php?id=20"  title="我的订单" target="_blank">我的订单</a></li>
	                </ul>
                </div>
                <div class="help-item">
                    <h3>服务保证 </h3>
                    <ul>
                        <li><a href="article.php?id=21"  title="退换货原则" target="_blank">退换货原则</a></li>
                        <li><a href="article.php?id=22"  title="售后服务保证" target="_blank">售后服务保证</a></li>
                        <li><a href="article.php?id=23"  title="产品质量保证 " target="_blank">产品质量保证</a></li>
                    </ul>
                </div>
                <div class="help-item">
                    <h3>联系我们 </h3>
                    <ul>
                        <li><a href="article.php?id=24"  title="网站故障报告" target="_blank">网站故障报告</a></li>
                        <li><a href="article.php?id=25"  title="选机咨询 " target="_blank">选机咨询</a></li>
                        <li><a href="article.php?id=26"  title="投诉与建议 " target="_blank">投诉与建议</a></li>
                    </ul>
                </div>                                  
            </div>
            <div class="help-cover">
                <div class="help-ctn">
                    <div class="help-ctn-mt">
                        <span>服务热线</span>
                        <strong>4000-000-000</strong>
                    </div>
                    <div class="help-ctn-mb">                        
                        <a id="IM" IM_type="dsc" onclick="openWin(this)" href="javascript:;" class="btn-ctn"><i class="iconfont icon-csu"></i>咨询客服</a>
                    </div>
                </div>
                <div class="help-scan">
                    <ul class="tabs">
                    	<li class="curr">ECJia</li>
                        <li>ECTouch</li>
                    </ul>
                    <div class="code">
                    	<div class="code_tp"><img src="images/common/ecjia_qrcode.png" /></div>
                        <div class="code_tp" style="display:none;"><img src="images/common/ectouch_qrcode.png"></div>
                    </div>
                    <!--<div class="ico" ectype="switch" title="切换"><i class="iconfont icon-switch"></i></div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="dsc-copyright">
        <div <if condition="$is_shopindex">class="w w1200"<else/>class="w w1390"</if>>
            <p class="copyright_links">
                <a href="index.php" >首页</a>|
                <a href="article.php?id=2" >隐私保护</a>|
                <a href="article.php?id=4" >联系我们</a>|
                <a href="article.php?id=1" >免责条款</a>|
                <a href="article.php?id=5" >公司简介</a>| 
                <a href="merchants.php"  target="_blank" >商家入驻</a>| 
                <a href="message.php" >意见反馈</a> 
            </p>
            <p class="copyright_info">
                <a href="http://www.ecmoban.com" target="_blank" title="模板堂">模板堂</a>| 
                <a href="http://www.ecjia.com" target="_blank" title="ECJia">ECJia</a>| 
                <a href="http://www.ectouch.cn" target="_blank" title="ECTouch">ECTouch</a>| 
                <a href="http://help.ecmoban.com" target="_blank" title="电商学院">电商学院</a>
            </p>                         
            <b>ICP备案证书号:<a href="http://www.miibeian.gov.cn/" target="_blank">DSC00000123</a> 
            	<a href="http://www.dscmall.cn/" target="_blank">POWERED BY易恒云</a>
            </b>                        
        </div>
    </div>
    
    
    <div class="hide" id="pd_coupons">
        <span class="success-icon m-icon"></span>
        <div class="item-fore">
            <h3>领取成功！感谢您的参与，祝您购物愉快~</h3>
            <div class="txt ftx-03">本活动为概率性事件，不能保证所有客户成功领取优惠券</div>
        </div>
    </div>
    
    
    <div class="hidden">
        <input type="hidden" name="seller_kf_IM" value="" rev="" ru_id="" />
        <input type="hidden" name="seller_kf_qq" value="349488953" />
        <input type="hidden" name="seller_kf_tel" value="4000-000-000" />
        <input type="hidden" name="user_id" value="0" />
    </div>
</div>

<div class="mui-mbar-tabs">
	<div class="quick_link_mian" data-userid="0">
        <div class="quick_links_panel">
            <div id="quick_links" class="quick_links">
            	<ul>
                    <li>
                        <a href="user.php"><i class="setting"></i></a>
                        <div class="ibar_login_box status_login">
                            <div class="avatar_box">
                                <p class="avatar_imgbox">
                                    <img src="images/touxiang.jpg" width="100" height="100"/>
                                </p>
                                <ul class="user_info">
                                    <li>用户名：暂无</li>
                                    <li>级&nbsp;别：暂无</li>
                                </ul>
                            </div>
                            <div class="login_btnbox">
                                <a href="user.php?act=order_list" class="login_order">我的订单</a>
                                <a href="user.php?act=collection_list" class="login_favorite">我的收藏</a>
                            </div>
                            <i class="icon_arrow_white"></i>
                        </div>
                    </li>
                    
                    <li id="shopCart">
                        <a href="javascript:void(0);" class="cart_list">
                            <i class="message"></i>
                            <div class="span">购物车</div>
                            <span class="cart_num">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="mpbtn_order"><i class="chongzhi"></i></a>
                        <div class="mp_tooltip">
                            <font id="mpbtn_money" style="font-size:12px; cursor:pointer;">我的订单</font>
                            <i class="icon_arrow_right_black"></i>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="mpbtn_yhq"><i class="yhq"></i></a>
                        <div class="mp_tooltip">
                            <font id="mpbtn_money" style="font-size:12px; cursor:pointer;">优惠券</font>
                            <i class="icon_arrow_right_black"></i>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="mpbtn_total"><i class="view"></i></a>
                        <div class="mp_tooltip" style=" visibility:hidden;">
                            <font id="mpbtn_myMoney" style="font-size:12px; cursor:pointer;">我的资产</font>
                            <i class="icon_arrow_right_black"></i>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="mpbtn_history"><i class="zuji"></i></a>
                        <div class="mp_tooltip">
                            <font id="mpbtn_histroy" style="font-size:12px; cursor:pointer;">我的足迹</font>
                            <i class="icon_arrow_right_black"></i>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="mpbtn_collection"><i class="wdsc"></i></a>
                        <div class="mp_tooltip">
                            <font id="mpbtn_wdsc" style="font-size:12px; cursor:pointer;">我的收藏</font>
                            <i class="icon_arrow_right_black"></i>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="mpbtn_email"><i class="email"></i></a>
                        <div class="mp_tooltip">
                            <font id="mpbtn_email" style="font-size:12px; cursor:pointer;">邮箱订阅</font>
                            <i class="icon_arrow_right_black"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="quick_toggle">
            	<ul>
                    <li>                      
                        <a id="IM" IM_type="dsc" onclick="openWin(this)" href="javascript:;"><i class="kfzx"></i></a>
                        <div class="mp_tooltip">客服中心<i class="icon_arrow_right_black"></i></div>                        
                    </li>
                    <li class="returnTop">
                        <a href="javascript:void(0);" class="return_top"><i class="top"></i></a>
                    </li>
               </ul>
            </div>
        </div>
        <div id="quick_links_pop" class="quick_links_pop"></div>
    </div>
</div>
<div class="email_sub">
	<div class="attached_bg"></div>
	<div <if condition="$is_shopindex">class="w1390"<else/>>class="w1200"</if>>
        <div class="email_sub_btn">
            <input type="input" id="user_email" name="user_email" autocomplete="off" placeholder="请输入您的邮箱帐号">
            <a href="javascript:void(0);" onClick="add_email_list();" class="emp_btn">订阅</a>
        </div>
    </div>
</div>




</block>