
/* ------------------------------------------------------------------------------
   Typography
-------------------------------------------------------------------------------*/


@import url(http://fonts.googleapis.com/css?family=Source%20Sans%20Pro:300,400,500,600,700);
/* ------------------------------------------------------------------------------
   Global Styles
-------------------------------------------------------------------------------*/


body {
	font-family: "微软雅黑";
	font-weight: 300;
	font-size:13px;
	letter-spacing:1px;
	line-height:1.8em;
}
p {
	color: #888;
}
h1, h2, h3, h5, h6 {
	font-weight: 400;
}
h4 {
	font-weight: 300;
	font-size: 15px;

}
a {
	color: #ff5335;
}
a:hover {
	color: #d92709;
	text-decoration: none;
}
a:focus {
	outline: none;
}
img {
	max-width: 100%;
	height: auto;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* ------------------------------------------------------------------------------
   main
-------------------------------------------------------------------------------*/
   
.main {
	background-size: cover;
	padding: 3em 0 4.5em;
	position: relative !important;
	color: #fff;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(27, 32, 38, 0.5);
	top: 40px;
}
.logo {
	text-align: center;
	margin-bottom: 2.25em;
}
.main h1 {
	font-size: 36px;
	font-weight: 700;
	letter-spacing:7px;
	text-transform:uppercase;
}
.welcome-message {
	padding-top: 1.5em;
}
.rotate {
	text-shadow: none !important;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}

/* ------------------------------------------------------------------------------
   Subscription form 
-------------------------------------------------------------------------------*/
   
 .form-control::-webkit-input-placeholder {
 color: #727272;
 font-weight: 300;
}
 .form-control:-moz-placeholder {
 color: #727272;
 font-weight: 300;
}
 .form-control::-moz-placeholder {
 color: #727272;
 font-weight: 300;
}
 .form-control:-ms-input-placeholder {
 color: #727272;
 font-weight: 300;
}
.sub-form {
	padding-top: 1.5em;
}
.center-block {
	float: none;
}
.form-control {
	background-color: #fff;
	border: 1px solid #fff;
	box-shadow: none;
	height: 50px;
	font-weight: 300;
}
.form-control:focus {
	border-color: #fff;
	outline: 0;
	box-shadow: none;
}
.input-group-btn>.btn:hover, .input-group-btn>.btn:focus, .input-group-btn>.btn:active {
	z-index: 1;
}
.btn-default {
	color: #fff;
	background-color: #ff5335;
	border-color: #ff5335;
 -webkit-transition: all .5s ease-out;
 transition: all .5s ease-out;
	padding: 12px 1.5em;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
	color: #fff;
	background-color: #d92709;
	border-color: #d92709;
}
.btn:active:focus, .btn-default:focus, .btn:focus, .btn-default:active {
	outline: none;
}
#mc-notification {
	margin: .75em 0 0;
	color: #FFF;
}
.alert, .success {
	padding: .5em 1em;
	border-radius: 4px;
	display: inline-block;
}
.alert {
	background-color: rgba(231, 76, 60, 0.7);
}
.success {
	background-color: rgba(39, 174, 96, 0.7);
}
.alert i, .success i {
	padding-right: .5em;
}
.fa-paper-plane {
	padding-left: .5em;
}


.header-page{ position: absolute; width: 100%; background: #fff; height: 30px; top: 0; left: 0; z-index: 9999; line-height: 30px;}

/* ------------------------------------------------------------------------------
   Countdown styles
-------------------------------------------------------------------------------*/
   
ul.countdown {
	list-style: none;
	display: block;
	margin-bottom: 0;
	padding: 1.5em 0 0;
}
.countdown p {
	color: #fff;
}
ul.countdown li {
	display: inline-block;
}
ul.countdown li span {
	font-size: 27px;
	font-weight:600;
}
ul.countdown li.seperator {
	font-size: 30px;
	vertical-align: top;
	padding: 0 8px;
}
ul.countdown li p {
	font-size: 13px;
	margin-bottom: 0;
	letter-spacing:3px;
}
/* ------------------------------------------------------------------------------
   Social 
-------------------------------------------------------------------------------*/

.social {
	float: none;
}
.social li {
	display: inline-block;
	padding-right: .8em;
}
.social li:last-child {
	padding-right: 0;
}
.social li a {
	display: block;
	height: 34px;
	line-height: 34px;
	color: #fff;
	border-radius: 4px;
	background: #ff5335;
	padding: 0 14px;
	position: relative;
 -webkit-transition: all .8s ease;
 transition: all .8s ease;
}
.social li a:hover {
	color: #fff;
	background: #d92709;
}
/* ------------------------------------------------------------------------------
   Features
-------------------------------------------------------------------------------*/
   
.section-spacing {
	padding: 4.5em 0;
}
.features.section-spacing {
	padding-bottom: 2.25em;
}
.features h2, .product-features h4 {
	margin-top: 0;
}
.product-features h4{
	text-align: center;
	margin: 0 auto;
	height: 120px;
	line-height: 120px;
	width: 120px;
	border-radius: 50%;
	border:1px solid #999;
	margin-bottom: 28px;
}
.features h2 {
	margin-bottom: 1.5em;
	font-weight:700;
	font-size:27px;
	text-transform:uppercase;
	letter-spacing:3px;
}
.product-features {
	margin-bottom: 3em;
}
.product-features p {
	margin-bottom: 0;
	color: #888;
}
.brand-listBot{
	margin-bottom: 70px;
}
.head-info{
	background-color: #000;
	height: 40px;
	line-height: 40px;
	margin-top: -3em;
}
.head-info ul{
	float: right;
	margin-right: 100px;
}
.head-info ul li{
	float: left;
	width: 80px;
	text-align: center;
}
.head-info ul li a{
	color: #fff;
	text-decoration: none;
}
/* ------------------------------------------------------------------------------
   Twitter feed
-------------------------------------------------------------------------------*/


.center-block {
	float: none;
}
.twitter-feed {
	background: url(./../img/bg-t.jpg) center center no-repeat fixed;
	background-size: cover;
	color: #fff;
	position: relative;
}
.overlay-t {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(27, 32, 38, 0.8);
	top: 0;
}
.twitter-feed h2, .contact h2 {
	margin: 0;
}
.twitter-icon .fa-twitter {
	color: #55ACEE;
	padding: 24px 0 12px;
	font-size: 3em;
}
/* ------------------------------------------------------------------------------
   Contact
-------------------------------------------------------------------------------*/
 
.contact h2 {
	margin-bottom: 1.5em;
		font-weight:700;
	font-size:27px;
	text-transform:uppercase;
	letter-spacing:3px;
}
.contact-form {
	margin-top: 3em;
}
.contact-form .form-control {
	border-color: #ddd;
	margin-bottom: .75em;
	padding: .75em 12px;
}
.contact-form label.error {
	margin-bottom: 12px;
	font-weight: 300;
	color: #ea5050;
}
.contact .btn-default {
	width: 100%;
}
/* ------------------------------------------------------------------------------
   contact Form Validation
-------------------------------------------------------------------------------*/
   

.contact-form label.error i {
	padding-right: 8px;
}
.success-cf, .error-cf {
	display: none;
}
.success-cf p {
	background: rgba(39, 174, 96, 0.7);
}
.error-cf p {
	background: rgba(231, 76, 60, 0.7);
}
.contact-form {
	position: relative;
}
.contact-form .success-cf p, .contact-form .error-cf p {
	position: absolute;
	display: block;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
	color: #fff;
	border-radius: 2px;
	padding: .75em;
}
/* ------------------------------------------------------------------------------
   Map
-------------------------------------------------------------------------------*/
.map {
	position: relative;
	box-shadow: 0 0 0 4px #fff;
	border-radius: 2px;
}
#map-canvas {
	width: 100%;
	height: 320px;
	margin: 0px;
	padding: 0px
}
#map-canvas img {
	max-width: none;
}
.address {
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.71);
	color: #666;
	padding: 1em;
	margin: 0 0 .75em .75em;
}
.address li i {
	padding-right: 8px;
	color: #ff5335;
}
.address li {
	padding-bottom: .5em;
}
.address li:last-child {
	padding-bottom: 0;
}
/* ------------------------------------------------------------------------------
   footer
-------------------------------------------------------------------------------*/
   
.site-footer {
	background: #F1F1F1;
}
.site-footer.section-spacing {
	padding: 4.5em 0;
}
.site-footer h3 {
	margin: 0;
}
.site-footer .social {
	float: none;
	margin-bottom: 1.5em;
}
.site-footer small {
	color: #888;
}
/* ------------------------------------------------------------------------------
   scroll top
-------------------------------------------------------------------------------*/
   
.scroll-top {
	margin-bottom: 0;
}
.scroll-top a {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: .8em 1em;
	display: none;
	z-index: 200;
	border-radius: 5px;
 -webkit-transition: background .5s ease-in;
 transition: background .5s ease-in;
}
.scroll-top a:hover {
	background: #ff5335;
}
/* ------------------------------------------------------------------------------
   Preloader styles
-------------------------------------------------------------------------------*/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 9999;
	height: 100%;
	height: 100%;
}
#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url(./../img/load.gif) no-repeat center center;
	margin: -170px 0 0 -100px;
}

/* ------------------------------------------------------------------------------
   Small devices (tablets, 768px and up)
-------------------------------------------------------------------------------*/
   
@media (min-width: 768px) {
 .main {
padding: 3em 0 7.5em;
}
 .logo {
 text-align: justify;
 margin-bottom: 0;
}
 .welcome-message {
padding-top: 6em;
}
 .social {
float: right;
}
 ul.countdown {
padding-top: 6em;
}
 ul.countdown li span {
font-size: 27px;
}
 ul.countdown li.seperator {
 font-size: 27px;
 padding: 0 20px;
}
}

/* ------------------------------------------------------------------------------
   Medium devices (desktops, 992px and up) 
-------------------------------------------------------------------------------*/
   
@media (min-width: 992px) {
 .main {
 padding: 3em 0 16em;
 position: fixed !important;
 top: 0;
 z-index: 1;
 width: 100%;
}
 .features, .twitter-feed, .contact, .site-footer {
 position: relative;
 z-index: 2;
}
 .welcome-message {
padding-top: 9em;
}
 .section-spacing {
padding: 6em 0;
}
 .features.section-spacing {
 padding: 6em 0 3em;
 margin-top: 46.8em;
}
 .product-features {
margin-bottom: 3.75em;
}
 .features.section-spacing, .contact {
background: #fff;
}
 .contact-form {
margin-top: 0;
}
 .animated {
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}
 @-webkit-keyframes fadeInUp {
0% {
opacity:0;
-webkit-transform:translate3d(0, 100%, 0);
transform:translate3d(0, 100%, 0);
}
100% {
opacity:1;
-webkit-transform:none;
transform:none;
}
}
@keyframes fadeInUp {
0% {
opacity:0;
-webkit-transform:translate3d(0, 100%, 0);
-ms-transform:translate3d(0, 100%, 0);
transform:translate3d(0, 100%, 0);
}
100% {
opacity:1;
-webkit-transform:none;
-ms-transform:none;
transform:none;
}
}
 .fadeInUp {
 -webkit-animation-name: fadeInUp;
 animation-name: fadeInUp;
}
}


@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.font27{ font-size: 24px;}
.mt50{ margin-top: 50px;}
.bus_logo{ padding-top: 30px; padding-left: 0px;}
.bus_logo li{ float: left; border: 1px solid #555; position: relative; margin-left: -1px; margin-bottom: -1px; width: 122px; height: 108px;}
.bus_logo li a{ display: block; width: 100%; height: 100%; position: relative;}
.bus_logo li a span{ position: absolute; left: 0; top: 0; z-index: 10; background: rgba(0,0,0,0.7); width: 100%; height: 100%; opacity: 0; transition: all 0.3s ease 0s;}
.bus_logo li a span b{ color: #fff; background: #f00; font-weight: 400; border-radius: 3px; padding: 0px 4px; margin-top: 50px; display: inline-block;}
.bus_logo li img{ max-height: 100%;}
.bus_logo li:last-child{ background: rgba(0,0,0,0.4);}
.bus_logo li:last-child a{ color: #fff; line-height: 108px; font-size: 1.2em; transition: all .3s ease 0s;}
.bus_logo li a:hover span{ opacity: 1;}
.bus_logo li:last-child a:hover{ background: #000; color: #ff5335;}
.qd-wrap{ padding-top: 10px; padding-bottom: 20px;}
.qudao a{ font-size: 18px; color: #666; display: block;text-align: center;height: 48px;line-height: 48px;text-decoration: none;}
.qudao a:hover{color: #FF5335;}
.qd-wrap a:hover{ color: #f00; text-decoration: underline;}
.qd-more{color: #ddd; display: inline-block; line-height: 26px; padding: 0 10px; border-radius: 3px;}
.qd-more:hover{ color: #FF5335; border-color: #FF5335;}


.search-type{ background: #fff; position: relative; height: 50px; border-radius: 3px 0 0 3px}
.search-type .select-top{ color:#666; border-right: 1px solid #ddd; line-height: 24px; padding: 0 4px}
.search-type .select-top span{ margin-right: 4px;font-size: 14px;}
.search-type .select-top i{ width: 0; height: 0; line-height: 0; border-style: solid;border-width: 4px;border-color:#999 transparent transparent;font-size:0; vertical-align: middle;}
.search-type ul{ position: absolute; left:0px; top:44px; background: #fff; color:#666; width: 100%; text-align: left; display: none; font-size: 14px;}
.search-type ul li{ padding-left: 14px; line-height: 30px; cursor: pointer;}
.search-type ul li:hover{ background: #ddd;}




/* ------------------------------------------------------------------------------
   small devices 
-------------------------------------------------------------------------------*/
   


@media (max-width: 320px) {
 ul.countdown li span {
font-size: 21px;
}
 ul.countdown li.seperator {
 font-size: 25.629px;
 vertical-align: top;
 padding: 0 2px;
}
 ul.countdown li p {
font-size: 12.642px;
}
}
