<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="cf">
		<div class="fr">
			<a class="btn btn-primary brand-btnM" href="{:U('Brand/add')}">新 增</a>
			<a class="btn btn-default" href="{:U('Brand/recycle')}">回收站</a>
        </div>
        <!-- 高级搜索 -->
		<div class="search-form fl cf">
			<select class="search-condition" id="search_status">
				<option value="">全部状态</option>
				<foreach name="status" item="vo" key="key">
					<option value='{$key}' <if condition="$status_val neq null and $status_val eq $key">selected</if>>{$vo}</option>
				</foreach>
			</select>
            <div class="sleft">
                <input type="text" name="keywords_val" class="search-input" value="{$keywords_val}" placeholder="请输入搜索信息">
                <a class="btn-primary sch-btn" title="查询" href="javascript:;" id="search" url="{:U('Brand/index')}">查询</a>
            </div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
            <th width="3%" class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
			<th width="8%">LOGO</th>
			<th width="15%">中文名称</th>
			<th width="15%">英文名称</th>
			<th width="6%">国家</th>
			<th width="8%">品牌成立</th>
			<th width="16%">官网</th>
			<th width="12%">添加时间</th>
			<th width="8%">状态</th>
			<th >操作</th>
        </tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr class="">
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
            <td><img src="{$vo.logo}?x-oss-process=image/resize,m_pad,h_50,w_50" style="width: 50px; height: 50px;"/></td>
			<td>{$vo.brand_name}</td>
			<td>{$vo.brand_letter}</td>
			<td>{$vo.country_name}</td>
			<td>{$vo['create_date'] ? date("Y年",$vo['create_date']) : ''}</td>
			<td><a target="_blank" href="{$vo.web_url}" class="brand-url">{$vo.web_url|msubstr=0,20}</a></td>
            <td>{$vo['add_date'] ? date("Y-m-d",$vo['add_date']) : ''}</td>
			<td>{$vo.x_status}</td>
			<td  class="operate-td">
				<a href="{:U('Brand/look?id='.$vo['id'])}" title="查看" class="brand-url brandImg-url brand-btnM"><span class="look-bgImg"></span></a>
				<a class="brandImg-url" title="编辑" href="{:U('Brand/edit?id='.$vo['id'])}"><span class="edit-bgImg"></span></a>
			</td>
		</tr>
		</volist>
		<else/>
		<td colspan="11" class="text-center no-content"> 暂时还没有内容! </td>
		</notempty>
	</tbody>
   </table>
	</div>
    <div class="page">
		<button title="启用" class="btn btn-success brand-freeze brand-btnM ajax-post confirm" url="{:U('Brand/changeStatus',array('status'=>'1'))}" target-form="ids">启 用</button>
    	<button title="禁用" class="btn btn-warning brand-freeze brand-btnM ajax-post confirm" url="{:U('Brand/changeStatus',array('status'=>'10'))}" target-form="ids">禁 用</button>
        <button title="删除" class="btn btn btn-danger brand-freeze ajax-post confirm" url="{:U('Brand/changeStatus',array('status'=>'-1'))}" target-form="ids">删 除</button>
        <div class="page-fr">{$_page}</div>
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
		//导航高亮
		highlight_subnav("{:U('Brand/index')}");
		//搜索功能
		$("#search").click(function(){
			var url = $(this).attr('url');
            var status = $("#search_status").val();
            var query  = $('.search-form').find('input').serialize();
            if(status){
                query += '&status_val=' + status;
            }
			query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
			query = query.replace(/^&/g,'');
			if( url.indexOf('?')>0 ){
				url += '&' + query;
			}else{
				url += '?' + query;
			}
			window.location.href = url;
		});

		//回车搜索
		$(".search-input").keyup(function(e){
			if(e.keyCode === 13){
				$("#search").click();
				return false;
			}
		});

		//状态搜索
		$("#search_status").change(function(){
            var url = $("#search").attr('url');
			var status = $(this).val();
            var query  = $('.search-form').find('input').serialize();
            if(status){
                query += '&status_val=' + status;
            }
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
		});

	</script>

</block>
